.sidebar {
  background-color: var(--slack-color);
  max-width: 240px;
  color: white;
  border-top: 1px solid #49274b;
  flex: 0.3;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
  padding-bottom: 10px;
}

.sidebar__header > .MuiSvgIcon-root {
  background-color: white;
  border-radius: 999px;
  color: #49274b;
  font-size: 18px;
  padding: 8px;
}
.sidebar__info {
  flex: 1;
}
.sidebar__info > h2 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 5px;
}
.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 5px;
  align-items: center;
}
.sidebar__info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-left: 2px;
    color: green;
}

.sidebar > hr{
  margin-top:10px ;
  border: 1px #49274b solid;
  margin-bottom:10px ;
}
